<div style="min-height: 100vh; padding-bottom: 20px;">
  <app-navbar></app-navbar>
  <div class="container mt-5">
    <h1>CRUD</h1>
    <hr />
    <router-outlet></router-outlet>
  </div>
</div>

<!-- 
  Actividad que al dar click en el boton editar me redireccione a lña pagina editar
  que la informacion del empleado que se selecciono se mnuestre en el formulario (formGroup.setValue(employee))

  tienen que tener en cuenta que el componente del formulario recibe un @input que se llame edit(true, false);

  el componente del formulario tiene que hacer juego con el edit

  edit = true, el boton dira editar
  edit = false, el boton dira guardar
-->